* {
	font-family:Lato;
	overflow: hidden;
	margin: 0;
}

body, html {
	width:100%;
	text-align:center;
	height:100%;
	background-color:#ECF0F1;
}

#calc-contain {
	text-align:center;
	width:30%;
	background-color:#DADFE1;
	border:5px solid #BFBFBF;
	margin:0px auto;
	margin-bottom:0;
	margin-top:5%;
	height:75%;
}

.number {
	border:1px solid #6C7A89;
	background-color:#ABB7B7;
	width:25%;
	height:16%;
	font-size:58px;
	
	-webkit-transition: text-shadow .5s, background-color .5s;
	transition: text-shadow .5s, background-color .5s
}

.number:hover {
	text-shadow:
		-1px -1px 1px #F2F1EF,
		-1px 1px 1px #F2F1EF,
		1px -1px 1px #F2F1EF,
		1px 1px 1px #F2F1EF;
	background-color:#95A5A6;
}

.sign {
	border:1px solid #6C7A89;
	background-color:#BDC3C7;
	width:25%;
	height:16%;
	font-size:48px;
	-webkit-transition: text-shadow .5s, background-color .5s;
	transition: text-shadow .5s, background-color .5s
}

.sign:hover {
	text-shadow:
		-1px -1px 1px #F2F1EF,
		-1px 1px 1px #F2F1EF,
		1px -1px 1px #F2F1EF,
		1px 1px 1px #F2F1EF;
	background-color:#6C7A89;
}

.sign:active {
	background-color:#2C3E50;
}

.number:active {
	background-color:#2C3E50;
}

#textbox {
	height:100%;
	width:100%;
	border:2px solid #BFBFBF;
	font-size:58px;
}

#thead {
	height:20%
}

#buttons {
	height:80%;
	width:100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tbox {
	height:100%;
	width:100%;
	colspan:4
}

thead, tbody {
	width:100%;
}
